* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.folderContainer {
    margin-left: 20px;
    overflow: hidden;
}

.folder {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 300px;
    background: #ece8e8;
    margin: 2px;
}

.btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.folderBtn, .fileBtn {
    margin: 4px;
    padding: 0 4px;
    border: 1px solid #000;
}

.input {
    margin-left: 20px;
}

