* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid #000;
    background-color: rgb(84, 84, 84);
    border-radius: 3px;
    padding: 12px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.copyBtn {
    background-color: teal;
    padding: 4px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.sliderInfo {
    display: flex;
    justify-content: space-between;
}

.sliderWrapper {
    margin-bottom: 4px;
}

.charLengthLabel {
    display: block;
    margin-bottom: 4px;
}

.charLengthSlider {
    width: 100%;
}

.optionsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.checkBoxWrapper {
    flex-shrink: 0;
    min-width: 50%;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.checkBoxWrapper input {
    margin-right: 4px;
}

.strengthWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.generateBtn {
    background-color: teal;
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.generateBtn:disabled {
    opacity: 0.5;
}