body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0px;
  padding: 10px;
  color: #333;
  font-size: 26px;
  background: #ddd;
  border-bottom: 1px solid #ccc;
}

.accor {
  margin: 10px;
  border: 1px solid #ddd;
  transition: 0.4s;
}

.head {
  background: #eee;
  padding: 10px 20px;
  cursor: pointer;
}

.body {
  background: #fafafa;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: 200ms ease-in-out;
}

.accor.active > .body {

  padding: 10px 20px;
  max-height: 600px;
}